/**
 * All the apps config files
 */

/**
 * Mysql database credentials
 */
module.exports = {
    /**The database host eg localhost */
    DATABASE_HOST: '',
    /**The database user eg root */
    DATABASE_USERNAME: '',
    /**Sometimes the database password is blank */
    DATABASE_PASSWORD: '',
    /**The database you want to use */
    DATABASE: '',
}